<!-- Page Content -->
<div class="container">
	<div class="row">
		<!-- Blog Entries Column -->
		<div class="col-md-9">
			<div class="row">
				<img class ="banner-img" src="/images/pray-for-nepal.png" alt="">
			</div>
			<br />
			<!-- First Blog Post -->
			<div class="row">
				<div ng-repeat="blog in blogs | filter:filter.title">
					<div class="thumbnail">
						<div class="col-sm-6 col-lg-6 col-md-6">
							<div class="caption">
								<h4>
									<a href="#/product/{{product.id}}">{{blog.title}}</a>
								</h4>
								<p>
									<span class="glyphicon glyphicon-time"></span> Posted by <b>{{blog.postedBy}}</b>
									on {{blog.timeStamp}}
								</p>
								<hr>
								<p>{{blog.content | limitTo: 350}}...</p>
							</div>
							<div class="separator clear-left">
								<p class="btn-details">
									<i class="fa fa-list"></i><a href="#/product/{{product.id}}"
										class="hidden-sm"> More details</a>
								</p>
							</div>
						</div>
						<img class="col-sm-6 col-lg-6 col-md-6 item-image"
							src="{{blog.imgUrl}}" alt="">
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- Pager -->
			<ul class="pager">
				<li class="previous"><a href="#">&larr; Older</a></li>
				<li class="next"><a href="#">Newer &rarr;</a></li>
			</ul>
		</div>
		<!-- Blog Sidebar Widgets Column -->
		<div class="col-md-3">
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="Blog Search...." ng-model="filter.title"> 
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span> {{title}}
				</div>
				<br />
			<!-- Side Widget Well -->
			<div class="well">
				<iframe src="http://www.nepcal.com/clock_e.php" frameborder="0"
					scrolling="no" marginwidth="0" marginheight="0"
					style="border: none; width: 249px; height: 120px;"
					allowtransparency="true"></iframe>
			</div>
			<!-- Blog Categories Well -->
			<div class="well">
				<h4>Popular Nepali Websites</h4>
				<div class="row">
					<div class="weblink col-md-9">
						<ul class="list-unstyled">
							<li><a href="http://www.bbc.co.uk/nepali" target="_blank">BBC
									Nepali Service</a></li>
							<li><a href="http://www.ekantipur.com/" target="_blank">Kantipur
									Publications</a></li>
							<li><a href="http://gorkhapatraonline.com/" target="_blank">Gorkhar
									Patra Online</a></li>
							<li><a href="cybernepal.com.np" target="_blank">CyberNepal
									Magazine</a></li>
							<li><a href="http://www.shop.muncha.com/" target="_blank">Muncha
									House</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>