<!-- Donate Page Content -->
<div class="container">
	<div class="col-md-9">
		<div class="col-md-9">
			<h3>Nepal Earthquake Relief Fund</h3>
			<p>Please donate via :</p>
			<table class="well table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Bank</th>
						<th>Transfer via Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Sushil Adhikari</td>
						<td>Paypal</td>
						<td>sushilok@gmail.com</td>
					</tr>
					<tr>
						<td>Sushil Adhikari</td>
						<td>Wells Fargo</td>
						<td>sushilok@hotmail.com</td>
					</tr>
					<tr>
						<td>Ram Sharma</td>
						<td>Bank of America</td>
						<td>ramchandra008@gmail.com</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-9">
			<h3>Contributor List:</h3> <h5> (Total Collected so far : <b>$6,640.55</b>) </h5>
			<table class="well table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Address</th>
						<th>Amount ($)</th>
					</tr>
				</thead>
				<tr ng-repeat="donor in donors | orderBy:'-id' | filter:filter.name">
					<td>{{donor.id}}</td>
					<td>{{donor.name}}</td>
					<td>{{donor.address}}</td>
					<td>{{donor.amount}}</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- Blog Sidebar Widgets Column -->
	<div class="col-md-3">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Blog Search...."
				ng-model="filter.name"> <span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span> {{name}}
		</div>
		<br />
		<div ng-include src="'partials/sideBarRight.html'"></div>
	</div>
</div>