<!-- Donate Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="col-md-9">
				<h4>Contact Us</h4>
				<p>Email: haminepali2072@gmail.com / ram@haminepali.org /
					sushil@haminepali.org</p>
				<p>Development team: haminepalidev@gmail.com</p>
			</div>
		</div>
		<!-- Blog Sidebar Widgets Column -->
		<div class="col-md-3">
			<div class="input-group">
				<input type="text" class="form-control"
					placeholder="Blog Search...." ng-model="filter.title"> <span
					class="input-group-btn">
					<button class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span> {{title}}
			</div>
			<br />
			<div ng-include src="'partials/sideBarRight.html'"></div>
		</div>
	</div>
</div>