<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
	role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse"
				data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand">Hami Nepali</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse"
			role="navigation">
			<ul class="nav navbar-nav">
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="about.html">Donate Now</a></li>
				<li><a href="contact.html">Members</a></li>
				<li><a href="about.html">About Us</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Contact Us</a></li>
			</ul> 
		</nav>
	</div>
</header>
