<!-- SideBarRight Content -->
<!-- Blog Categories Well -->
<div class="well">
	<div class="row">
		<div class="col-lg-9">
			<div>
				<iframe
					src="http://nepalicalendar.rat32.com/addons/nepali-calendar-aja-ko-din-sano.php"
					frameborder="0" scrolling="no" marginwidth="0" marginheight="0"
					style="border: none; overflow: hidden; width: 175px; height: 15px;"
					allowtransparency="true"></iframe>
				<iframe src="http://nepalicalendar.rat32.com/embed/index.php"
					frameborder="0" scrolling="no" marginwidth="0" marginheight="0"
					style="border: none; overflow: hidden; width: 221px; height: 183px;"
					allowtransparency="true"></iframe>
			</div>
		</div>
	</div>
</div>
<!-- Blog Popular Nepali Websites -->
<div class="well">
	<div class= "websites"><h4>Popular Nepali Websites</h4></div>
	<div class="row">
		<div class="weblink col-md-9">
			<ul class="list-unstyled">
				<li><a href="http://www.bbc.co.uk/nepali" target="_blank">BBC
						Nepali Service</a></li>
				<li><a href="http://www.ekantipur.com/" target="_blank">Kantipur
						Publications</a></li>
				<li><a href="http://gorkhapatraonline.com/" target="_blank">Gorkhar
						Patra Online</a></li>
				<li><a href="cybernepal.com.np" target="_blank">CyberNepal
						Magazine</a></li>
				<li><a href="http://www.shop.muncha.com/" target="_blank">Muncha
						House</a></li>
			</ul>
		</div>
	</div>
</div>